@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root{
    --cor-de-fundo: #edc8f0;
    --texto1: #77065b;
    --texto2: #c439ac;
    --botao-ativo: #d84fd1e5;
    --botao-inativo: rgba(243, 128, 228, 0.685);
    --texto-fundo: rgba(224, 147, 214, 0.767);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Agbalumo", system-ui;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    margin:0 auto;

}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.botao{
    font-family:"Agbalumo", system-ui;
    background-color: var(--botao-inativo);
    display:flex;
    color:var(--texto1);
    justify-content: center;
    padding: 1em;
    font-size: 20px;
    align-items: center;
    width: 80%;
}

.botoes{
    display:flex;
}

.botao.ativo{
    background: var(--botao-ativo);
    border-bottom: 3px solid #f072e9;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 34px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    color: var(--texto1);
    font-size: 22px;
    text-align: center;
}
 

.botao:first-child{
    border-radius: 20px 0 0 0;
}

.botao:last-child{
    border-radius: 0 20px 0 0;
}
 .ativo{
    text-align: center;
 }
.aba-textos{
    background-color: var(--texto-fundo);
    padding: 80px;
    border-radius: 0 0 40px 40px;
}

