@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root{
    --cor-de-fundo: #edcaf0;
    --texto1: #a00452;
    --texto2: #c439ac;
    --botao-ativo: #f143d4;
    --botao-inativo: rgba(197, 68, 236, 0.5);
    --texto-fundo: rgba(170, 146, 167, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Agbalumo", system-ui;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    margin:0 auto;

}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.botao{
    font-family:"Agbalumo", system-ui;
    background-color: var(--botao-inativo);
    display:flex;
    color:var(--texto1);
    justify-content: center;
    padding: 1em;
    font-size: 20px;
    align-items: center;
    width: 80%;
}

.botoes{
    display:flex;
}

.botao:first-child{
    border-radius: 20px 0 0 20px;
}

.botao:last-child{
    border-radius: 0 20px 20px 0;
}

.ativo{
    background: var(--botao-ativo);
    border-bottom: 4px solid rgb(179, 2, 111);
}