@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root{
    --cor-de-fundo: #edcaf0;
    --texto1: #8d0a4b;
    --texto2: #c439ac;
    --botao-ativo: #0b80ee;
    --botao-inativo: rgba(27, 6, 250, 0.5);
    --texto-fundo: rgba(207, 125, 240, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Agbalumo", system-ui;
}

